# 딕셔너리

- 'people:사람, baseball:야구'처럼 key와 value를 한쌍으로 갖는 자료형
- key는 해당 딕셔너리 내에서 동일 차원에선 중복될 수 없고 변하지 않는다. immutable(메모리와 상관없고 직접 수정명령어가 없다는 말일뿐                     immutalbe - 딕셔너리의key, 문자열, (튜플)
- value는 중복될 수도 있고, 변할 수도 있다. 없을수는 없다. mutable 
- 문법 : 딕셔너리명 = {key : value, key : value ....}   key의 타입은 정수, 문자열 상관없다.
- 순서(index)없다.
- 빈딕셔너리를 선언할 수는 있으나 일부 key와 value를 비울 수는 없다. (=not null 제한조건)(\''나 ""는 가능)
- java의 map(※파이썬의 map(def, iderable)은 요소를 순서대로 함수(def)에 넣은 결과값을 반환)  
-----------------------------------------------
- 관련 함수  
    - dict[key] = value 삽입 및 수정(순서없으니 index개념은 안 씀)
    - .get(key) : 해당 키값 불러오기
    - .clear() : 딕셔너리 요소 전체 삭제
    - .keys() : 키 전체 __리스트로__ 가져오기  
    - .values() : 값 전체 __리스트로__ 가져오기  
    - .items() : 키와 값을 __리스트로__ 가져오기 
        - 위에 3개의 함수는 리턴값이 리스트라서 list()나 for in 문과 같이 쓰이는 경우가 많다.!!
        - list()나 for in 문에 딕셔너리를 바로 사용하면 키값만 나오는 거 유의!!
    
-----------------------------------------------
- 2차원 딕셔너리는 사실상 테이블.(바깥 key=col, 안쪽 key=index)
- 뭔가 테이블 형태의 메모리구조가 생성되나 했더니 그건 아닌가봐.. 
-----------------------------------------------
- 별첨
    - 값이 있는지 확인하는 키워드 in ('값' in 변수명-->결과값은 True/False)
    - 변수의 타입을 확인하는 함수 : type(변수)

In [8]:
temp = {'a':{'a':'가','b':'나'},
        'b':{2:'다',3:'라'}}
temp

{'a': {'a': '가', 'b': '나'}, 'b': {2: '다', 3: '라'}}

In [9]:
import pandas as pd
pd.DataFrame(temp)

     a    b
a    가  NaN
b    나  NaN
2  NaN    다
3  NaN    라

In [19]:
pVSh = {0:'스트라이크',1:'볼',3:'삼진'}
print(pVSh)
type(pVSh)

{0: '스트라이크', 1: '볼', 3: '삼진'}

dict

In [3]:
print(pVSh[1])
pVSh[1]='1루타'#------------------값 수정 및 삽입. 만약 키값이 없는 키값이라면 추가가 됨.
pVSh[4]='홈런'
print(pVSh[1])
print(pVSh)

볼
1루타
{0: '스트라이크', 1: '1루타', 3: '삼진', 4: '홈런'}

In [11]:
dic1={'노래제목':'아무노래','가수':'지코','날짜':'2020.01.13'}
dic2={'노래제목':'빙글빙글','가수':'나미','날짜':'2008.05.21'}
print(dic1)
print(dic2)

{'노래제목': '아무노래', '가수': '지코', '날짜': '2020.01.13'}
{'노래제목': '빙글빙글', '가수': '나미', '날짜': '2008.05.21'}

In [44]:
del pVSh[1]
pVSh

{0: '스트라이크', 3: '삼진'}

- 키 값 가져오기 : 딕셔너리[키값] vs 딕셔터리.get(키값)

In [23]:
dic1['노래제목']#------------키값이 없다면 KeyError 뜸. 이 형식은 수정할 때 쓰는 형식이니

'아무노래'

In [24]:
print(dic1.get('래제목'))#--------키값이 없어도 에러나지않고 print할 경우 none이라고 출력됨

None

In [47]:
#딕셔너리 안에 있는 key를 리스트로 불러오기
dic1.keys()

dict_keys(['노래제목', '가수', '날짜'])

In [48]:
list([1,2,3])

[1, 2, 3]

In [30]:
temp = dic1.keys()
print(type(temp))
list(temp)
print(type(list(temp)))

<class 'dict_keys'>
<class 'list'>

In [50]:
#딕셔너리 안에 있는 value리스트를 가져오는 방법
list(dic1.values())

['아무노래', '지코', '2020.01.13']

In [38]:
#딕셔너리와 for문을 같이 사용하는 방법 - in 뒤에 딕셔너리를 바로 쓸 수는 없고, 딕셔너리를 리스
keylist=[]
for key in dic1.keys():
    keylist.append(key)  #----------미리 배열 선언한 뒤 배열에 담기
    print(key, end=" ")  #----------단순출력
print("")
print("")
print(keylist)
print("")
for value in dic1.values():
     print(value, end=" ")
print() 
print()
for key, value in dic1.items():
    print(key, value)
print() 
print()

for key in dic1 : 
    print(key)

노래제목 가수 날짜

['노래제목', '가수', '날짜']

아무노래 지코 2020.01.13

노래제목 아무노래
가수 지코
날짜 2020.01.13


노래제목
가수
날짜

In [13]:
#자료구조 안에 해당하는 데이터가 존재하는지 여부를 물어보고 싶다면
'가수' in dic1

True

# 딕셔너리를 활용한 최종실습

- 이중 딕셔너리는 구조의 특성상 이중 for문을 활용하자

In [40]:
score_dic = {'나효주' : {'수학':100, '영어':100, '과학':50},
            '정명은' : {'영어':80,'과학':100,'수학':95},
            '김영웅':{'과학':70,'수학':50,'영어':60}}

In [41]:
score_dic

{'나효주': {'수학': 100, '영어': 100, '과학': 50},
 '정명은': {'영어': 80, '과학': 100, '수학': 95},
 '김영웅': {'과학': 70, '수학': 50, '영어': 60}}

### 이중 딕셔너리 그룹합 구하기!!(이 로직은 숙지하자)

- 이중 딕셔너리는 표이므로 칼럼은 제한적이지만 값(행)은 엄청나게 많을 수 있다. 즉 반드시 for문을 활용하는 스킬이 있어야 한다.
- 필요개념 
    - 딕셔너리는 key와 value를 구분하여 for in문으로 받을 수 있다.
    - 개별 value는 .get(key)로 받는다.
- 과목별 합계(그룹합)를 구할거니 그 값을 담을 딕셔너리를 만든다.  
- 즉 궁극적으로 찾을 값은 inner_dict의 value의 합 : 실행문장!!
    - ★★★이중for문을 통해 내부dict의 key를 받고 실행문장에서 value를 get한다. 그리고 반복적으로 합해준다.
- 외for문에서 불필요한 pk는 버리고 value를 받는다. 그 value는 여전히 dict이다.
    - ★순서가 엉망인 내부dict에서 이제 pk는 과목명(내부dict의key)이다.
- 내for문에서 외for문에서 받은 dict의 키값을 받는다. 
- 실행문장에서 해당 키값을 통해 개별 value를 받고 누적시킨 값을 미리만들어둔 딕셔너리에 넣는다. dict[key] = value.get[key]
- 출력한다.

In [74]:
subject_dict={'영어':0,'수학':0,'과학':0}

for inner_dict in score_dic.values():
    for inner_key in inner_dict.keys():
        subject_dict[inner_key] += inner_dict.get(inner_key)
print(subject_dict)

{'영어': 240, '수학': 245, '과학': 220}

In [57]:
x=pd.DataFrame(score_dic)
x['과목별 총점']=x.mean(axis=1)
x.loc['평균']=x.mean()
x

      나효주    정명은   김영웅  과목별 총점
수학 100.00  95.00 50.00   81.67
영어 100.00  80.00 60.00   80.00
과학  50.00 100.00 70.00   73.33
평균  83.33  91.67 60.00   78.33